{% extends "base.html" %}
{% block logotext %}
HEARTHSTONE
{% endblock %}
{% block nav %}
<nav id="nav-1">
    <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('leagueoflegends') }}">League of Legends</a></li>
        <li><a class="current" href="{{ url_for('hearthstone') }}">Hearthstone</a></li>
        <li><a href="{{ url_for('overwatch') }}">Overwatch</a></li>
    </ul>
</nav>
<nav id="nav-2">
    <ul>
        <li><a href="{{ url_for('hsschedule') }}">Schedule</a></li>
        <li><a href="{{ url_for('hsstandings') }}">Standings</a></li>
        <li><a href="{{ url_for('hsrules') }}">Rules</a></li>
        <li><a href="{{ url_for('hsabout') }}">About</a></li>
        <li><a href="{{ url_for('hssignup') }}">Sign up</a></li>
    </ul>
</nav>
{% endblock %}

{% block header %}
<img src="{{ url_for('static', filename='lolbg1.jpg')}}" alt="League of Legends Background">

{% endblock %}
{% block content %}
    <div id="page">
            <h1>BHS LEAGUE OF LEGENDS</h1>
            <p>
            <iframe src="http://challonge.com/bhshs/module?theme=5592&show_standings=1" width="100%" height="800" frameborder="0" scrolling="auto" allowtransparency="true"></iframe>
            </p>

        </div>
    </div>
{% endblock %}